<!DOCTYPE HTML>
<!--
tinypng
-->
<html>

<head>
    <title>
        Code Book
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script>

</head>

<body class="">
    <!-- Nav tabs -->

    <%- include('./partials/nav.ejs') %>

        <section>
            <div class="row">
                <div class="col py-3" style="background-color: #fff;">
                    <div class="container">
                        <h2 class="display-4"><i class="fas fa-code mr-2" style="font-size: 45px;"></i>Create Problems
                        </h2>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-md-8 ">
                    <form action="/createcontest" method="POST" id="formcontest">
                        <% for(let i = 1 ; i <= ProblemsNumber ; i++){ %>
                            <div class="card-body text-center">
                                <h2>Please fill all data to create problem number <%=i%></h2>
                                <hr>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="problem <%=i%> name"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="title<%=i%>"
                                        name="title<%=i%>">
                                </div>
                                <!--As we don't have it stored in the database-->
                                <!--<div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" type="text" placeholder="Problem tag (for ex: dfs,bfs...)" class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="problemTag" name="problemTag">
                                </div>-->

                                <textarea form="formcontest" required placeholder="Problem <%=i%> Description"
                                    class="form-control mb-3 form-control-lg" type="text" id="body<%=i%>" name="body<%=i%>"></textarea>

                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="problem <%=i%> input format"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text"
                                        id="problemInputFormat<%=i%>" name="problemInputFormat<%=i%>">
                                </div>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="problem <%=i%> output format"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text"
                                        id="problemOutputFormat<%=i%>" name="problemOutputFormat<%=i%>">
                                </div>


                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="Sample <%=i%> input"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="SampleInput<%=i%>"
                                        name="SampleInput<%=i%>">
                                </div>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="Sample <%=i%> output"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="SampleOutput<%=i%>"
                                        name="SampleOutput<%=i%>">
                                </div>

                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="problem <%=i%> input"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="problemInput<%=i%>"
                                        name="problemInput<%=i%>">
                                </div>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="problem <%=i%> output"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="problemOutput<%=i%>"
                                        name="problemOutput<%=i%>">
                                </div>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="text" placeholder="Problem <%=i%> Topic"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="text" id="Topic<%=i%>"
                                        name="Topic<%=i%>">
                                </div>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="number" placeholder="Problem <%=i%> Score"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="number" id="Score<%=i%>"
                                        name="Score<%=i%>">
                                </div>
                                <div class="d-md-flex d-block justify-content-between mb-3">
                                    <input form="formcontest" required type="number" placeholder="Problem <%=i%> Difficulty"
                                        class="form-control mb-md-0 mb-3 form-control-lg" type="number" id="Difficulty<%=i%>"
                                        name="Difficulty<%=i%>">
                                </div>
                                
                            </div>
                        <%}%>
                        <div class="card-body text-center" >
                            <button form="formcontest" type="submit" name = "vote" value = "Submit"
                            class="btn btn-outline-dark btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>
        <!-- Scripts -->

        <%- include('./partials/Scripts.ejs') %>
        <script>


        </script>
</body>

</html>