<!DOCTYPE HTML>
<!--
tinypng
-->
<html>

<head>
    <title>
        Code Book
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script>

</head>

<body class="">
    <!-- Nav tabs -->

    <%- include('./partials/nav.ejs') %>

    <section>
        <div class="row">
            <div class="col py-3" style="background-color: #fff;">
                <div class="container">
                    <h2 class="display-4"><i class="fas fa-address-book mr-2" style="font-size: 45px;"></i> Submissions
                    </h2>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-md-auto">
                <div class="d-block my-3 mx-3 p-4 bg-white border rounded">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Submission ID</th>
                                <th>When</th>
                                <th>Problem ID</th>
                                <th>Problem Name</th>
                                <th>Who</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%submissions.forEach( submission => {%>
                            <tr>
                                <td><%= submission.ID %></td>
                                <td><%= submission.Day %> <%= submission.Time %></td>
                                <td><%= submission.Problem_ID %></td>
                                <td><%= submission.Problem_Name %></td>
                                <td><%= submission.User %></td>
                                <td><%= submission.status %></td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
    <%- include('./partials/footer.ejs') %>
    <!-- Scripts -->

    <%- include('./partials/Scripts.ejs') %>

    <script>


    </script>
</body>

</html>